html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: url('/assets/images/login_bg.jpg') no-repeat center;
    background-size: cover;
}

.layui-main img {
    margin-top: 75px;
}

.xitong {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 650px;
    height: 400px;
    padding: 10px 30px;
    background-color: rgb(219, 230, 240);
}

.xitong-box {
    height: 60px;
    background: url('/assets/images/login_title.png') no-repeat center;
}

.denglu a,
.zhuce a{
float: right;
}

.denglu a {
    margin-top: 65px;
}

.zhuce {
    display: none;
}

.denglu input,
.zhuce input {
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    padding-left: 30px;
}

.denglu button,
.zhuce button {
    height: 60px;
}

.layui-form-item {
    position: relative;
}

.layui-icon {
    position: absolute;
    top: 16px;
    left: 10px;
}